html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  //font-family: 'Roboto', sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  // font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  background: #f7f7f7;
  scrollbar-width: thin;
}

button,
a {
  cursor: pointer;
  outline: none;
}

.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #212121;
}
.subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #212121;
}

.wrapper-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  ul,
  ol,
  li {
    margin: 0;
  }
  button,
  input,
  textarea {
    outline: none;
  }
  textarea {
    &::placeholder {
      opacity: 1;
    }
  }
  a {
    text-decoration: none;
    //color: #333;
  }
}
ul,
li {
  display: inline-block;
  text-decoration: none;
  padding: 0;
}
.content {
  flex: 1 0 auto;
  margin-top: 152px;
}

.footer {
  flex: 0 0 auto;
}
.page-inner {
  padding-bottom: 80px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn {
  @include no-button;
  background: #0e0e9c;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 30px;
  &:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #0e0e9c;
  }
}
.web-check{
  label{
    display: grid;
    grid-template-columns: 20px 1fr;
    font-family: 'Roboto', sans-serif;
    align-items: start;

    cursor: pointer;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    position: relative;
    gap: 15px;
  }
  .check-box{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  .check-style{
    border: 1px solid #E0E0E0;
    width: 20px;
    height: 20px;
    border-radius: 2px;

  }
  .check-box:checked + .check-style {
    background-image: url(../img/svg/check.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
}
@media (max-width: 991px) {
  .content {
    margin-top: 64px;
  }
  .title{
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 767px) {
  .content {
    margin-top: 48px;
  }
  
}
@media (max-width: 575px) {
  .btn {
    display: block;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
}
