@media (max-width: 1199px) {
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 575px) {
    .modal{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .modal .fancybox-button{
        width: 40px;
        height: 40px;
    }
    .fancybox-slide--html{
        padding: 15px;
    }
    .footer-connection-inner{
        max-width: 50%;
        .btn.mod-wh{
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

@media (min-width: 1200px) {
}
