@media (max-width: 1199px) {
  .tags {
    margin-bottom: 48px;
  }
  .tags-all {
    display: block;
    margin-top: 16px;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    color: #818491;
  }
}

@media (max-width: 991px) {
  .useful-detail-used .title {
    margin: 55px 0 39px;
  }
}

@media (max-width: 767px) {
  .tags {
    margin-bottom: 40px;
  }
  .useful-detail {
    .tags {
      margin-bottom: 34px;
    }
  }
  .useful-detail-doc .title {
    margin-bottom: 29px;
  }
  .useful-detail-used .title {
    margin: 54px 0 32px;
  }
  .useful .about-short-titles-link,
  .useful-detail .about-short-titles-link {
    margin-top: 22px;
  }
}

@media (max-width: 575px) {
}

@media (min-width: 1200px) {
}
