@media (max-width: 1199px) {
	.question.star {
		.question-info {
			align-items: center;
		}
		.question-inner {
			gap: 20px;
		}
	}
	.question.star {
		.question-btn {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

@media (max-width: 991px) {
	.map-control-inner {
		grid-template-columns: 1fr 1fr;
	}
	.map-control select {
		max-width: none;
		width: 100%;
	}
	.projects-data-items {
		grid-template-columns: 1fr 1fr;
		margin: 70px 0 48px;
	}

	.map-control {
		bottom: 13px;
	}
}

@media (max-width: 767px) {
	.projects {
		.clients-map-inner {
			height: 480px;
		}
	}
	.map-control-inner {
		grid-template-columns: 1fr;
		gap: 15px;
	}
	.map-control select {
		max-width: none;
		width: 100%;
	}
	.projects-data-items {
		grid-template-columns: 1fr;
		margin: 60px 0 40px;
		gap: 15px;
	}
	.projects-data-item-title {
		min-height: auto;
	}
	.projects-data-item {
		padding-left: 15px;
		padding-right: 15px;
		min-height: 236px;
	}
	.projects-data-item.map {
		max-width: 290px;
	}
}

@media (max-width: 575px) {
}

@media (min-width: 1200px) {
}
