@media (max-width: 1199px) {
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
    .answers-item .answers-item-title{
        padding-left: 15px;
    }
    .answers-item-info{
        padding-left: 15px;
        padding-right: 15px;
    }
    .answers-item .answers-item-title::after{
        right: 15px;
    }
}

@media (max-width: 575px) {
}

@media (min-width: 1200px) {
}
