@media (max-width: 1199px) {
    .aside-question.mod {
        margin-top: 55px;
    }
    .aside-question {
        margin-top: 50px;
    }
    .useful {
        .tags {
            margin-bottom: 50px;
        }
    }
    .tags-all {
        display: block;
        margin-top: 16px;
        font-weight: bold;
        font-size: 15px;
        line-height: 24px;
        text-transform: uppercase;
        color: #818491;
    }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
    .tags {
        padding: 25px 15px;
    }
    .aside-question {
        margin-top: 40px;
    }
    .useful .control-more {
        margin-top: 33px;
    }
    .useful-items {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .useful .tags {
        margin-bottom: 40px;
    }
}

@media (max-width: 575px) {
}

@media (min-width: 1200px) {
}
