@media (max-width: 1199px) {
    .clients-map-inner {
        height: 528px;
    }
    .clients-map-info {
        max-width: 290px;
        min-height: 368px;
    }
}

@media (max-width: 991px) {
    .clients-map-info {
        max-width: 270px;
        min-height: 368px;
        top: 15px;
    }
}

@media (max-width: 767px) {
    .clients-map-inner {
        height: 320px;
    }
    .clients-map-info{
        position: static;
        max-width: 100%;
        margin: 0px 0 30px;
    }
}

@media (max-width: 575px) {
    .clients-map-inner {
        height: 480px;
    }
}

@media (min-width: 1200px) {
}
