@media (max-width: 1199px) {
    .service{
        padding: 70px 0 85px;
    }
		.service .danger-item-img img{
			min-width: 290px;
			min-height: 219px;
		}
		.service-info-desc{
			span{
				display: none;
			}
		}
		// .service-info{
		// 	padding-top: 11px;
		// }
}

@media (max-width: 991px) {
	.question.star{
		display: none;
	}
	// .service-info{
	// 	padding-top: 0px;
	// }
    .service{
        padding: 53px 0 60px;
    }
    .service-info-desc{
        margin: 0;
    }
    .service-inner{
        gap: 40px 0;
    }
    .service-info-box{
        display: flex;
        align-items: center;
        gap: 40px;
    }
		.service .danger-item-img img{
			min-width: 100%;
			min-height: 249px;
		}
}

@media (max-width: 767px) {
	.service .subtitle.mod{
		font-size: 16px;
	}
	.service .title{
		margin-bottom: 27px;
	}
    .service{
        padding: 63px 0 70px;
    }
    .service-info-box{
        flex-direction: column;
        gap: 24px;
        align-items: start;
    }
		.service .danger-item-img img{
			min-height: 181px;
		}
}

@media (max-width: 575px) {
	.service .danger-item-img img{
		min-height: 218px;
	}
    .service-inner{
        gap: 15px;
    }
    .service-info{
        margin-bottom: 25px;
    }
}

@media (min-width: 1200px) {
}
