@media (max-width: 1199px) {
    .text-navigation-menu {
        display: none;
    }
		.text-navigation{
			margin-top: 48px;
		}
}

@media (max-width: 991px) {
    .img-vw,
    .box-vw{
        margin: 40px 0;
      }
    .breadcrumbs-title {
        font-size: 32px;
    }
    .breadcrumbs {
        margin-bottom: 38px;
    }
    .breadcrumbs.mod {
        margin-bottom: 36px;
    }
}

@media (max-width: 767px) {
	.text-navigation{
		margin-top: 40px;
	}
    .img-vw,
    .box-vw{
        margin: 33px 0;
      }
    .info-text .img-left,
    .info-text .img-right {
        max-width: 100%;
    }
    .responsive-table {
        margin-top: 32px;
    }
    .breadcrumbs-title {
        font-size: 24px;
        line-height: 32px;
    }
    .info-text h2 {
        font-size: 24px;
        line-height: 32px;
        margin: 46px 0 26px;
    }
    .info-text h3 {
        margin: 28px 0 24px;
        font-size: 18px;
        line-height: 24px;
    }
    .info-text h4 {
        font-size: 16px;
        line-height: 20px;
        margin: 30px 0 16px;
    }
    .img-right,
    .img-left,
    .box-left,
    .box-right {
        float: none;
        max-width: 100%;
        margin: 0;
        margin: 33px 0;
    }
    .info-text blockquote {
        padding: 75px 19px 8px 17px;
        background-position: 18px 31px;
        margin: 33px 0;
    }
    .info-text blockquote::before {
        height: 50%;
    }
    .breadcrumbs.mod {
        margin-bottom: 26px;
    }

}

@media (max-width: 575px) {
}

@media (min-width: 1200px) {
}
