@media (max-width: 1199px) {
  .header.sticky{
    .mobile-navigation-menu a:focus span::after, .mobile-navigation-menu a:hover span::after{
      display: none;
    }
  }

  .header.sticky .header-logo picture{
    display: block;
  }
  .header-input-search{
    max-width: 217px;
  }
  .header.sticky .header-logo{
    width: auto;
    height: auto;
    display: flex;
  }
  .header.sticky .header-logo-title, .header.sticky .header-top{
    display: block;
  }
  .header.sticky {

    .header-input-search input{
      border: none;

    }
    .header-input-search-box{
      position: relative;
      max-width: 960px;
      margin: 0 auto;
      padding: 0 15px;
    }
    .mobile-navigation-menu a:hover,
    .mobile-navigation-menu a :focus {
      span::after {
        display: none;
      }
    }

    .header-input-search input{
      max-width: 960px;
      position: relative;
      left: 50%;
      right: 50%;
      transform: translateX(-50%);
      min-height: 48px;
    }
    .header-input-search{
      background: #fff;
      width: 100vw;
      max-width: none;
    }
  }

  .header.sticky .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header.sticky .header-mobile-navigation {
    display: none;
  }
  .header.sticky .mobile-navigation-menu li + li a {
    margin-left: 0px;
  }
  .header.sticky .header-mobile-navigation {
    max-width: none;
  }

  .header-inner-mobile {
    max-width: 960px;
  }


  body.noscroll {
    overflow: hidden;
  }

  .header-wrapper.open-menu {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .header.sticky .menu-link {
    min-height: auto;
  }

  .header.sticky .header-bottom-inner {
    display: block;
  }

  .header.sticky .header-bottom-phone-link-box {
    display: none;
  }

  .header.sticky .header-bottom-inner .header-logo {
    display: none;
  }

  .header.sticky .header-top-box {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .submenu .topmenu:hover > .header-sub-submenu-city {
    max-height: 634px;
  }

  .header-bottom-city,
  .header-logo-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header-bottom-city svg {
    position: relative;
    top: -1px;
  }

  .header.sticky .header-wrapper {
    padding: 6px 0;
  }

  .header.sticky .header-wrapper .menu-btn span {
    display: block;
    width: 32px;
    margin-bottom: 5px;
    background: #848488;
    height: 2px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    top: 11px;
  }

  .header.sticky .header-wrapper .menu-btn.active .menu-btn-medium {
    opacity: 1;
  }

  .header.sticky .header-wrapper .header-bottom {
    overflow-y: auto;
    display: none;
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    background: #f8f8f8;
    padding-top: 18px;
  }

  .header.sticky .header-wrapper .menu-link {
    display: block;
    margin-bottom: 30px;
  }

  .header.sticky .header-wrapper .noscroll {
    overflow: hidden;
  }

  .header.sticky .header-wrapper .header-bottom-phone-link {
    display: none;
  }

  .header.sticky .header-wrapper .header-bottom-wrapper {
    display: block;
    position: fixed;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    background: #f8f8f8;
  }

  .header.sticky .header-wrapper .header.sticky .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header.sticky .header-wrapper .header-bottom-city svg {
    margin-right: 6px;
  }

  .header.sticky .header-wrapper .header-top {
    border-bottom: none;
    padding: 2px 0;
  }

  .header.sticky .menu-btn {
    display: block;
    width: 40px;
    cursor: pointer;
    height: 40px;
    opacity: 1;
    margin-right: 14px;
  }

  .header.sticky .menu-btn.active body {
    overflow: hidden;
  }

  .header-top-locat-country span {
    margin-right: 15px;
  }

  .header.sticky {
    .header-top-tel-number + .header-top-tel-number {
      margin-top: 0;
    }
    .menu-btn.active {
      .menu-btn-bottom {
        width: 16px;
      }
    }
    .mobile-navigation-sub-menu-heading-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      color: #333333;
    }
    body.no-scroll-mobile {
      overflow: hidden;
    }
    .header-mobile-navigation .header-mobile-tel {
      display: flex;
      flex-basis: 100%;
      width: 100%;
      position: absolute;
      bottom: 14px;
      background: #f7f7fb;
      mix-blend-mode: luminosity;
      padding: 13px 0;
    }
    .header-top-tel-number:first-child::before {
      display: none;
    }
    .header-top-tel-number {
      padding-left: 0;
    }
    .header-mobile-tel-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 960px;
      padding: 0 15px;
      margin: 0 auto;
    }

    .mobile-navigation-sub-menu-heading span {
      display: block;
      max-width: 960px;
      margin: 0 auto;
      padding: 0 15px;
    }
    .header-mobile-navigation.active {
      display: block;
    }
    .header-inner-mobile {
      max-width: none;
      padding: 0;
    }
    .mobile-navigation-sub-position {
      display: block;
    }
    .header-mobile-navigation {
      padding-top: 22px;
      position: fixed;
      z-index: -11;
      left: -100%;
      top: 64px;
      display: none;
      width: 100%;
      height: calc(100% - 50px);
      background: #fff;
      transition: 0.35s;
    }

    .header-mobile-navigation * {
      box-sizing: border-box;
    }

    .header-mobile-navigation.active {
      left: 0;
    }

    .header-mobile-navigation ul {
      list-style: none;
    }

    .mobile-navigation-menu {
      height: calc(100vh - 138px);
      overflow-y: auto;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }

    .mobile-navigation-menu li {
      width: 100%;
    }

    .mobile-navigation-menu li a {
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 12px 0px 12px 0px;
      font-size: 15px;
      line-height: 20px;
      color: #4d4d4d;
      width: 100%;
      font-weight: 300;
      font-size: 15px;
      line-height: 24px;
      /* identical to box height, or 160% */

      text-transform: uppercase;

      color: #333333;
      span {
        max-width: 960px;
        margin: 0 auto;
        width: 100%;
        padding: 0 15px;
      }
    }

    .mobile-navigation-menu li a:hover,
    .mobile-navigation-menu li a:focus {
      color: #fff;
      background: #163880;
      font-weight: bold;
      font-size: 15px;
      line-height: 24px;
      /* identical to box height, or 160% */

      text-transform: uppercase;

      color: #ffffff;
    }

    .mobile-navigation-sub-position {
      position: absolute;
      z-index: 10;
      top: 0;
      left: -100%;
      width: 100%;
      height: calc(100vh - 110px);
      background: #fff;
      transition: 0.25s linear;
      overflow: hidden;
    }

    .mobile-navigation-sub-position.active {
      left: 0;
    }

    .mobile-navigation-sub-position.current {
      opacity: 1;
      overflow-y: auto;
    }

    .header-mobile-navigation ul > li.is-parent > a {
      position: relative;
    }

    .header-mobile-navigation ul > li.is-parent > a span::after {
      content: "";
      position: absolute;
      top: 50%;
      left: auto;
      right: 18px;
      display: block;
      width: 8px;
      height: 8px;
      margin: -4px 0 0 0;
      border: 1px solid #4d4d4d;
      border-width: 1px 1px 0 0;
      transform: rotate(45deg);
    }

    .header-mobile-navigation ul > li.is-parent > a:hover::after,
    .header-mobile-navigation ul > li.is-parent > a:focus::after {
      border-color: #fff;
    }

    .mobile-navigation-sub-menu-heading {
      padding: 22px 0 15px 0;
    }
    .mobile-navigation-menu a {
      min-height: auto;
    }
    .mobile-navigation-menu li .mobile-navigation-sub-menu-heading > a {
      position: relative;
      display: block;
      padding: 9px 0px 0px 0px;
      font-size: 14px;
      line-height: 20px;
      color: #4d4d4d;
      text-decoration: none;
      text-transform: uppercase;
    }

    .mobile-navigation-menu li .mobile-navigation-sub-menu-heading > a:hover,
    .mobile-navigation-menu li .mobile-navigation-sub-menu-heading > a:focus {
      color: #fff;
    }

    //  .mobile-navigation-sub-menu-heading a::before {
    //     content: "";
    //     position: absolute;
    //     top: 50%;
    //     left: 18px;
    //     display: block;
    //     width: 8px;
    //     height: 8px;
    //     margin: -4px 0 0 0;
    //     border: 1px solid #4d4d4d;
    //     border-width: 0 0 1px 1px;
    //     transform: rotate(45deg);
    //  }
    .mobile-navigation-sub-menu {
      width: 100%;
    }
    .mobile-navigation-sub-menu-heading a:hover::before,
    .mobile-navigation-sub-menu-heading a:focus::before {
      border-color: #fff;
    }

    .header-mobile-navigation-top {
      display: flex;
      justify-content: space-between;
      list-style: none;
      background: #163880;
      padding: 0 15px;
    }

    .header-mobile-navigation-top li a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 48px;
    }

    .header-mobile-navigation-top li a::before {
      display: none;
    }
    .header-bottom-inner {
      max-width: 100%;
      padding: 0;
    }
    .header-logo picture {
      width: 65px;
      height: 48px;
    }
    .header-top-tel-btn-search,
    .header-top-tel-btn-mob {
      @include no-button;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #eeeeee;
      border-radius: 50%;
      svg {
        path {
          fill: #818491;
        }
      }
    }
    .header-input-search,
    .header-top-tel-numbers,
    .header-top-tel-btn {
      display: none;
    }

    .header-top-tel-btns {
      display: flex;
      gap: 8px;
    }

    .header-top-box {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .menu-btn {
      display: block;
      width: 40px;
      cursor: pointer;
      height: 40px;
      margin-right: 30px;
      opacity: 1;
    }

    .menu-btn.active body {
      overflow: hidden;
    }

    .menu-btn span {
      display: block;
      width: 32px;
      margin-bottom: 5px;
      background: #818490;
      height: 2px;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      position: relative;
      top: 11px;
    }

    .header-bottom {
      overflow-y: auto;
      display: none;
      position: fixed;
      top: 64px;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: #f8f8f8;
      padding-top: 18px;
      z-index: -1;
    }

    .menu-link {
      display: block;
      margin-bottom: 30px;
    }

    .header-top {
      border-bottom: none;
      padding: 8px 0;
    }

    .noscroll {
      overflow: hidden;
    }

    .header-bottom-phone-link {
      display: none;
    }

    .header-bottom-wrapper {
      display: block;
      position: fixed;
      bottom: 0;
      max-width: 100%;
      width: 100%;
      background: #f8f8f8;
    }

    .header-bottom-locat {
      max-width: 720px;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .header.sticky .header-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    .header-bottom-city svg {
      margin-right: 6px;
    }

    .header-bottom-city span {
      font-size: 14px;
      line-height: 17px;
      color: #333;
      border-bottom: 1px dashed #333;
    }

    .header-bottom-city span:hover {
      color: #224d93;
      border-bottom: 1px dashed #224d93;
    }
    .menu-link {
      font-weight: 300;
      font-size: 15px;
      line-height: 24px;

      text-transform: uppercase;
      color: #333333;
    }
    .mobile-navigation-menu li {
      .mobile-navigation-sub-menu-heading a {
        &:hover,
        &:focus {
          background: #fff;
          color: #818491;
          font-weight: 300;
        }
      }
    }
    .header-mobile-navigation {
      padding-left: 0;
      padding-right: 0;
      .header-logo {
        display: none;
      }
    }
  }
  .header.sticky {
    .header-input-search {
      position: absolute;
      bottom: -48px;
      height: 48px;
      left: 0;
      input {
        height: 100%;
        width: 100%;
        padding-right: 45px;
        padding-left: 0;
      }
      button {
        right: 15px;
        top: 0px;
        width: 48px;
        height: 48px;
      }
    }
  }

  .header.sticky .mobile-navigation-menu li a span {
    position: relative;
  }
  .header.sticky {
    .mobile-navigation-menu li.is-parent a:focus,
    .mobile-navigation-menu li.is-parent a:hover {
      span::after {
        border-color: #fff;
      }
      span::after {
        background: #163880;
      }
    }
  }
  .header.sticky .mobile-navigation-sub-menu-heading-title {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: auto;
      right: 18px;
      display: block;
      width: 8px;
      height: 8px;
      margin: -4px 0 0;
      border: 1px solid #4d4d4d;
      border-width: 1px 1px 0 0;
      transform: rotate(225deg);
    }
  }
}
@media (max-width: 991px) {
  .mobile-navigation-menu a:focus span::after, .mobile-navigation-menu a:hover span::after{
    display: none;
  }
  .mobile-navigation-sub-menu-heading-title{
    position: relative;
  }
 .mobile-navigation-sub-menu-heading-title:after{
  content: "";
  position: absolute;
  top: 50%;
  left: auto;
  right: 18px;
  display: block;
  width: 8px;
  height: 8px;
  margin: -4px 0 0;
  border: 1px solid #4d4d4d;
  border-width: 1px 1px 0 0;
  transform: rotate(
225deg);
  }
  .header.sticky .header-input-search-box,
.header-input-search-box{
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 720px;
}
.header-input-search input{
  border: none;
  min-height: 48px;
  padding-left: 0;
}
  .header-input-search{
    background: #fff;
    width: 100vw;
    max-width: none;
  }
  .mobile-navigation-menu li.is-parent a:focus,
  .mobile-navigation-menu li.is-parent a:hover {
    span::after {
      border-color: #fff;
    }
    span::after {
      background: #163880;
    }
  }
  .mobile-navigation-menu a:hover,
  .mobile-navigation-menu a :focus {
    span::after {
      display: none;
    }
  }
  .mobile-navigation-menu li a span {
    position: relative;
  }
  .header-input-search {
    position: absolute;
    bottom: -48px;
    height: 48px;
    left: 0;
    input {
      height: 100%;
      width: 100%;
      padding-right: 45px;
    }
    button {
      right: 15px;
      top: 0px;
      width: 48px;
      height: 48px;
    }
  }


  .header.sticky .header-mobile-tel-inner,
  .header.sticky .mobile-navigation-sub-menu-heading span,
  .header.sticky .mobile-navigation-menu li a span {
    max-width: 720px;
  }
  .header-top-tel-number + .header-top-tel-number {
    margin-top: 0;
  }
  .menu-btn.active {
    .menu-btn-bottom {
      width: 16px;
    }
  }
  .mobile-navigation-sub-menu-heading-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #333333;
  }
  body.no-scroll-mobile {
    overflow: hidden;
  }
  .header-mobile-navigation .header-mobile-tel {
    display: flex;
    flex-basis: 100%;
    width: 100%;
    position: absolute;
    bottom: 14px;
    background: #f7f7fb;
    mix-blend-mode: luminosity;
    padding: 13px 0;
  }
  .header-top-tel-number:first-child::before {
    display: none;
  }
  .header-top-tel-number {
    padding-left: 0;
  }
  .header-mobile-tel-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 720px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .mobile-navigation-sub-menu-heading span {
    display: block;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .header-mobile-navigation.active {
    display: block;
  }
  .header-inner-mobile {
    max-width: none;
    padding: 0;
  }
  .mobile-navigation-sub-position {
    display: block;
  }
  .header-mobile-navigation {
    padding-top: 30px;
    position: fixed;
    z-index: -11;
    left: -100%;
    top: 64px;
    display: none;
    width: 100%;
    height: calc(100% - 50px);
    background: #fff;
    transition: 0.35s;
  }

  .header-mobile-navigation * {
    box-sizing: border-box;
  }

  .header-mobile-navigation.active {
    left: 0;
  }

  .header-mobile-navigation ul {
    list-style: none;
  }

  .mobile-navigation-menu {
    height: calc(100vh - 138px);
    overflow-y: auto;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .mobile-navigation-menu li {
    width: 100%;
  }

  .mobile-navigation-menu li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 12px 0px 12px 0px;
    font-size: 15px;
    line-height: 20px;
    color: #4d4d4d;
    width: 100%;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 160% */

    text-transform: uppercase;

    color: #333333;
    span {
      max-width: 720px;
      margin: 0 auto;
      width: 100%;
      padding: 0 15px;
    }
  }

  .mobile-navigation-menu li a:hover,
  .mobile-navigation-menu li a:focus {
    color: #fff;
    background: #163880;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 160% */

    text-transform: uppercase;

    color: #ffffff;
  }

  .mobile-navigation-sub-position {
    position: absolute;
    z-index: 10;
    top: 0;
    left: -100%;
    width: 100%;
    height: calc(100vh - 110px);
    background: #fff;
    transition: 0.25s linear;
    overflow: hidden;
  }

  .mobile-navigation-sub-position.active {
    left: 0;
  }

  .mobile-navigation-sub-position.current {
    opacity: 1;
    overflow-y: auto;
  }

  .header-mobile-navigation ul > li.is-parent > a {
    position: relative;
  }

  .header-mobile-navigation ul > li.is-parent > a span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: auto;
    right: 15px;
    display: block;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 0;
    border: 1px solid #4d4d4d;
    border-width: 1px 1px 0 0;
    transform: rotate(45deg);
  }

  .header-mobile-navigation ul > li.is-parent > a:hover::after,
  .header-mobile-navigation ul > li.is-parent > a:focus::after {
    border-color: #fff;
  }

  .mobile-navigation-sub-menu-heading {
    padding: 22px 0 15px 0;
  }
  .mobile-navigation-menu a {
    min-height: auto;
  }
  .mobile-navigation-menu li .mobile-navigation-sub-menu-heading > a {
    position: relative;
    display: block;
    padding: 9px 0px 0px 0px;
    font-size: 14px;
    line-height: 20px;
    color: #818491;
    text-decoration: none;
    text-transform: uppercase;
  }

  .mobile-navigation-menu li .mobile-navigation-sub-menu-heading > a:hover,
  .mobile-navigation-menu li .mobile-navigation-sub-menu-heading > a:focus {
    color: #fff;
  }

  //  .mobile-navigation-sub-menu-heading a::before {
  //     content: "";
  //     position: absolute;
  //     top: 50%;
  //     left: 18px;
  //     display: block;
  //     width: 8px;
  //     height: 8px;
  //     margin: -4px 0 0 0;
  //     border: 1px solid #4d4d4d;
  //     border-width: 0 0 1px 1px;
  //     transform: rotate(45deg);
  //  }
  .mobile-navigation-sub-menu {
    width: 100%;
  }
  .mobile-navigation-sub-menu-heading a:hover::before,
  .mobile-navigation-sub-menu-heading a:focus::before {
    border-color: #fff;
  }

  .header-mobile-navigation-top {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background: #163880;
    padding: 0 15px;
  }

  .header-mobile-navigation-top li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 48px;
  }

  .header-mobile-navigation-top li a::before {
    display: none;
  }
  .header-bottom-inner {
    max-width: 100%;
    padding: 0;
  }
  .header-logo picture {
    width: 65px;
    height: 48px;
  }
  .header-top-tel-btn-search,
  .header-top-tel-btn-mob {
    @include no-button;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eeeeee;
    border-radius: 50%;
    svg {
      path {
        fill: #818491;
      }
    }
  }
  .header-input-search,
  .header-top-tel-numbers,
  .header-top-tel-btn {
    display: none;
  }

  .header-top-tel-btns {
    display: flex;
    gap: 8px;
  }

  .header-top-box {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu-btn {
    display: block;
    width: 40px;
    cursor: pointer;
    height: 40px;
    margin-right: 22px;
    opacity: 1;
  }

  .menu-btn.active body {
    overflow: hidden;
  }

  .menu-btn span {
    display: block;
    width: 32px;
    margin-bottom: 5px;
    background: #818490;
    height: 2px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    top: 11px;
  }

  .header-bottom {
    overflow-y: auto;
    display: none;
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    padding-top: 18px;
    z-index: -1;
  }

  .menu-link {
    display: block;
    margin-bottom: 30px;
  }

  .header-top {
    border-bottom: none;
    padding: 8px 0;
  }

  .noscroll {
    overflow: hidden;
  }

  .header-bottom-phone-link {
    display: none;
  }

  .header-bottom-wrapper {
    display: block;
    position: fixed;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    background: #f8f8f8;
  }

  .header-bottom-locat {
    max-width: 720px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header.sticky .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-bottom-city svg {
    margin-right: 6px;
  }

  .header-bottom-city span {
    font-size: 14px;
    line-height: 17px;
    color: #333;
    border-bottom: 1px dashed #333;
  }

  .header-bottom-city span:hover {
    color: #224d93;
    border-bottom: 1px dashed #224d93;
  }
  .menu-link {
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;

    text-transform: uppercase;
    color: #333333;
  }
  .mobile-navigation-menu li {
    .mobile-navigation-sub-menu-heading a {
      &:hover,
      &:focus {
        background: #fff;
        color: #818491;
        font-weight: 300;
      }
    }
  }
}

@media (max-width: 767px) {
  .header.sticky .header-mobile-navigation{
    height: calc(100vh - 34px);
  }
  .header.sticky .header-logo picture{
width: 54px;
height: 40px;
  }
  .header.sticky .header-top-tel-btn-mob, .header.sticky .header-top-tel-btn-search{
    width: 40px;
    height: 40px;
  }
  .header.sticky{
    .header-mobile-navigation{
      top: 48px;
    }
  }
  .header-input-search button{
    width: 40px;
    height: 40px;
    top: auto;
    bottom: 5px;
  }
  .header.sticky .header-input-search-box,
  .header-input-search-box{
    max-width: 540px;
  }
  .header-input-search {
    bottom: -48px;
  }
  .header.sticky .header-mobile-tel-inner,
  .header.sticky .mobile-navigation-sub-menu-heading span,
  .header.sticky .mobile-navigation-menu li a span {
    max-width: 540px;
  }
  .header-mobile-navigation {
    top: 48px;
  }
  .header-mobile-navigation .header-mobile-tel {
    bottom: 0;
  }
  .mobile-navigation-sub-position {
    height: calc(100vh - 110px);
  }
  .mobile-navigation-menu {
    height: calc(100vh - 110px);
  }
  .header-top {
    padding: 4px 0;
  }
  .header-top-tel-btn-mob,
  .header-top-tel-btn-search {
    width: 40px;
    height: 40px;
  }
  .mobile-navigation-menu li a span,
  .header-mobile-tel-inner,
  .mobile-navigation-sub-menu-heading span {
    max-width: 540px;
  }
  .header.sticky .header-wrapper .header-top {
    border-bottom: none;
    padding: 0;
  }

  .header.sticky .header-inner {
    padding: 4px 0;
  }

  .header-logo picture {
    width: 54px;
    height: 40px;
  }

  .header.sticky .header-wrapper {
    padding: 0;
  }

  .header-bottom-wrapper {
    bottom: 0;
  }

  .header-bottom {
    top: 48px;
  }

  .header.sticky .header-top {
    padding: 4px 0;
  }

  .header.sticky .header-wrapper .header-bottom {
    top: 48px;
  }

  .header.sticky .header-wrapper .header-bottom-wrapper {
    bottom: 0;
  }
  .header-top-tel-number {
    font-size: 16px;
    line-height: 20px;
  }
  .header.sticky {
    .header-input-search {
      position: absolute;
      bottom: -48px;
      height: 48px;
    }
  }
}

@media (max-width: 575px) {
  .header.sticky .header-logo-title{
    display: none;
  }
  // .header-mobile-navigation{
  //   height: calc(100vh - 25px);
  // }
  // .header.sticky .header-mobile-navigation{
  //   height: calc(100vh - 12px);
  // }
  .header-input-search-box, .header.sticky .header-input-search-box{
    max-width: 100vw;
  }
  .header-input-search input {
    padding-right: 50px;
  }

  .header.sticky .header-mobile-tel-inner,
  .header.sticky .mobile-navigation-sub-menu-heading span,
  .header.sticky .mobile-navigation-menu li a span {
    max-width: 100%;
  }
  .mobile-navigation-menu li a span,
  .header-mobile-tel-inner,
  .mobile-navigation-sub-menu-heading span {
    max-width: 100%;
  }
  .header-logo-title {
    display: none;
  }


}
@media (max-width: 320px) {
   .header-mobile-navigation{
     height: calc(100vh - 25px);
   }
   .header.sticky .header-mobile-navigation{
     height: calc(100vh - 12px);
   }
  }
@media (min-width: 1200px) {
  .header-bottom {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 992px) {
  .menu-list .menu-list-item {
    position: relative;
  }

  .menu-list .menu-list-point {
    width: 4px;
    height: 4px;
    background: #8dbe22;
    border-radius: 50px;
  }

  .header:not(.sticky) .header-bottom {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
