@media (max-width: 1199px) {
    .promo-product{
        background-image: url(../img/slide-bg-960.png);
    }
    .promo-product-img img{
        width: 288px;
        height: 288px;
    }
    .promo-product-inner{
        min-height: 431px;
    }
    .promo-product-text-title{
        font-size: 40px;
        line-height: 50px;
    }
    .swiper-button-next, .swiper-button-prev{
        display: none;
    }
}

@media (max-width: 991px) {
    .promo-product{
        background-image: url(../img/slide-bg-768.png);
    }
    .promo-product-short{
        padding: 30px 0 26px;
    }
    .promo-product-inner{
        min-height: 627px;
    }
    .promo-product-short-item-img img, .promo-product-short-item-img svg{
        width: 48px;
        height: 48px;
    }
}

@media (max-width: 767px) {
    .promo-product-img{
        margin-right: 0;
    }
    .swiper-pagination-bullet{
        transition: 0.25s;
    }
    .promo-product{
        background-image: url(../img/slide-bg-560.png);
    }
    .promo-product-short{
        padding: 56px 0;
    }
    .promo-product-text-title span{
        display: none;
    }
    .promo-product-text-title{
        margin-bottom: 22px;
    }
    .promo-product-text-info{
        display: none;
    }
    .promo-product-img img{
        width: 220px;
        height: 220px;
    }
    .promo-product-inner{
        min-height: 272px;
    }
    .promo-product-text-title{
        font-size: 24px;
        line-height: 32px;
    }

    .swiper .swiper-pagination{
        bottom: 15px;
        top: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 15px;
    }
    .swiper .swiper-pagination-bullet::after{
        width: 20px;
				margin: 0;
    }
    .swiper .swiper-pagination-bullet.swiper-pagination-bullet-active::after{
        width: 40px;
    }
    .swiper .swiper-pagination-bullet{
display: none;
    }
    .swiper .swiper-pagination-bullet + .swiper-pagination-bullet{
        margin-top: 0;
        margin-left: 0px;
        &:hover{
            color: transparent;
        }
    }
    .swiper .swiper-pagination-bullet.swiper-pagination-bullet-active{
        color: transparent;
        &:hover{
            color: transparent;
        }
    }
    .promo-product-short-inner{
        grid-template-columns: repeat(2,1fr);
        gap: 30px 62px;
    }
    .swiper-pagination-bullet{
        width: 20px;
    }
    .swiper-pagination-bullet::after{
        right: 0;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active::after{
        right: 0;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active::after, .swiper-pagination-bullet::after{
        right: 50%;
        left: 50%;
        transform: translate(-50%,50%);
    }
    .promo-product .swiper-slide{
        padding-bottom: 56px;
    }
}

@media (max-width: 575px) {
    .promo-product{
        background-image: url(../img/slide-bg-320.png);
    }
    .promo-product-short-item-title{
        text-transform: none;
    }
    .promo-product-short-inner{
        grid-template-columns: repeat(2,1fr);
        gap: 20px ;
    }
    .promo-product-short-item-title{
        font-size: 14px;
        font-weight: 300;
          font-family: 'Roboto', sans-serif;
    }
    .promo-product .swiper-slide{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 75px;
        gap: 0;
    }
    .promo-product-img{ 
        order: -1;
    }
    .promo-product-text-title{
        margin-bottom: 16px;
    }
    .promo-product-img img{
        width: 192px;
        height: 192px;
    }
    .promo-product-inner{
        min-height: 432px;
    }
}

@media (min-width: 1200px) {
}
