@media (max-width: 1199px) {
    .tags-all.show {
        display: block;
    }
    .filled .tags-all-hide {
        display: initial;
    }
    .filled .tags-all-show {
        display: none;
    }
    .tags-all-hide {
        display: none;
    }
.filled .tags-all-show {
    display: none;
}
    .aside-question.mod {
        margin-top: 15px;
    }

    .useful {
        .tags {
            margin-bottom: 50px;
        }
    }
    .tags-all {
        margin-top: 16px;
        font-weight: bold;
        font-size: 15px;
        line-height: 24px;
        text-transform: uppercase;
        color: #818491;
        &.open{
            display: block;
        }
    }
    .tags-items-inner {
        max-height: 88px;
        overflow: hidden;
      }
      .tags.fillid{

      }
      .tags.filled{
        .tags-items-inner{
            max-height: none;
        }
      }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
    .tags {
        padding: 25px 15px;
    }
    .useful .control-more {
        margin-top: 33px;
    }
    .useful-items {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .useful .tags {
        margin-bottom: 40px;
    }
}

@media (max-width: 575px) {
}

@media (min-width: 1200px) {
}
