@import "_vars.scss";
@import "_global.scss";

.header {
  background: #ffffff;
}

.shadow {
  box-shadow: 7px 0px 15px rgba(0, 0, 0, 0.1);
  z-index: 20;
}
.header-top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-mobile-navigation {
  .header-logo {
    display: none;
  }
  .header-top-tel-btn {
    display: none;
  }
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 9px;
}
.header-logo picture {
  width: 86px;
  height: 64px;
}

.header-logo img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;
}

.header-bottom-wrapper {
  display: none;
}

.header-top-ico svg path {
  fill: #999;
}

.header.sticky .header-bottom-phone-link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header.sticky .header-logo {
  display: block;
}
.header.sticky {
  .header-top-tel-btn {
    display: block;
  }
}
.header.sticky .header-bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 37px;
}

.header-bottom .header-logo {
  display: none;
}

.header.sticky .menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 48px;
}

.header-bottom-inner {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}

.header.shadow {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.header.sticky {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
}

.header.sticky .header-wrapper {
  padding: 8px 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.header.sticky .header-bottom {
  padding: 0;
}

.header.sticky .header-logo-title,
.header.sticky .header-top {
  display: none;
}

.header.sticky .header-bottom-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-bottom-phone-link-box {
  display: none;
}

.header-logo-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  max-width: 173px;
}
.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-top {
  padding: 20px 0;
}

.header-bottom {
  background: #0e0e9c;
}

.menu-btn {
  display: none;
}

ul.menu {
  width: 100%;
}

.mobile-navigation-sub-position {
  display: none;
}

.header-nav-box {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  position: relative;
}

li.header-bottom-phone {
  display: none;
}

.menu-link {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
}

.header-top-locat a span:hover {
  color: #224d93;
  border-bottom: 1px dashed #224d93;
}

ul.header-bottom-locat-wrapper a {
  max-width: 960px;
  margin: 0 auto;
  padding: 4px 15px;
}

.header-top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-input-search {
  position: relative;
  max-width: 300px;
  width: 100%;
  input {
    border: none;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding: 8px 15px;
    padding-left: 20px;
  }
  button {
    @include no-button;
    position: absolute;
    right: 15px;
    bottom: 7px;
    svg {
      width: 20px;
      height: 20px;
    }
    &:hover,
    &:focus {
      svg {
        path {
          fill: #0e0e9c;
        }
      }
    }
  }
}
.header-top-tel-number {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  display: block;
  padding-left: 39px;
  position: relative;
  &:first-child::before {
    position: absolute;
    content: "";
    background-image: url(../img/svg/phone-ip.svg);
    width: 24px;
    height: 24px;
    top: 0px;
    left: 0px;
  }
  & + .header-top-tel-number {
    margin-top: 2px;
  }
}

.header-top-tel-box {
  display: flex;
  gap: 30px;
  align-items: end;
}
.header-top-tel-btn {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  cursor: pointer;
  background: #fff;
  &:hover,
  &:focus {
    background: #0e0e9c;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.header-top-tel-btn-mob {
  display: none;
}
.header-top-tel-btn-search {
  display: none;
}
.header-top-tel-btn {
  padding: 12px 30px;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  border: 1px solid #0e0e9c;
  border-radius: 5px;
}
.header.sticky {
  .header-mobile-navigation {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .header-inner-mobile {
    max-width: none;
    padding: 0;
    margin: 0;
  }
  .header-logo {
    width: 64px;
    height: 48px;
  }
  .mobile-navigation-menu li + li a {
    margin-left: 24px;
  }
  .mobile-navigation-menu a {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */

    text-transform: uppercase;

    color: #333333;
  }
}
.mobile-navigation-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
  li {
    min-height: 48px;
    display: flex;
    align-items: center;
  }
  a {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    min-height: 48px;
    display: flex;
    align-items: center;
  }
}
.header-mobile-navigation {
  background: #0e0e9c;
  .header-mobile-tel {
    display: none;
  }
}
.header-inner-mobile {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.mobile-navigation-menu a span {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    display: none;
  }
}
.mobile-navigation-menu a:hover,
.mobile-navigation-menu a:focus {
  span::after {
    display: block;
  }
}
.header.sticky {
  .mobile-navigation-menu a span:hover,
  .mobile-navigation-menu a span:focus {
    &::after {
      display: none;
    }
  }
}
@import "_media-header.scss";
//promo-product
.promo-product-text-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #212121;
}
.promo-product-text-info {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #333333;
  margin: 16px 0 32px;
}
.promo-product-inner {
  min-height: 633px;
  display: flex;
  align-items: center;
}

.promo-product-text-button {
}
.promo-product {
  @include bgi;
  position: relative;
  background-image: url(../img/slide-bg.png);
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
}
.promo-product-img {
  backdrop-filter: blur(4px);
  border-radius: 50%;
  img {
    width: 441px;
    height: 428px;
    object-fit: cover;
  }
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev,
.swiper-button-next {
  background: #ffffff;
  width: 49px;
  height: 49px;
  &:after {
    display: none;
  }
  &:hover {
    svg {
      path {
        fill: #0e0e9c;
      }
    }
  }
}
.promo-product-inner {
  .swiper-pagination {
    right: 0;
    top: 50%;
  }
}
.swiper-pagination-bullet {
  width: auto;
  height: auto;
  border-radius: none;
  background: none;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #818491;
  display: block;
  opacity: 1;
  position: relative;
  padding-right: 40px;
  min-height: 20px;
  &::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 2px;
    background: #818491;
  }
  &:hover {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    &::after {
      background: #0e0e9c;
    }
  }
  & + .swiper-pagination-bullet {
    margin-top: 10px;
  }
  &.swiper-pagination-bullet-active {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    padding-right: 70px;
    &::after {
      width: 60px;
      background: #0e0e9c;
      right: -30px;
    }
  }
}
button.header-top-tel-btn-search {
  background-image: url(../img/svg/search.svg);
  @include bgi;
  background-size: 20px 20px;
  &:hover {
    background-image: url(../img/svg/search-hover.svg);
  }
  &.open-search {
    background-image: url(../img/svg/close.svg);
    background-size: 24px 24px;
    &:hover {
      background-image: url(../img/svg/close-hover.svg);
    }
  }
}
.header-top-tel-btn-mob:hover {
  svg path {
    fill: #0e0e9c;
  }
}
.header.sticky {
  button.header-top-tel-btn-search {
    background-image: url(../img/svg/search.svg);
    @include bgi;
    background-size: 20px 20px;
    &:hover {
      background-image: url(../img/svg/search-hover.svg);
    }
    &.open-search {
      background-image: url(../img/svg/close.svg);
      background-size: 24px 24px;
      &:hover {
        background-image: url(../img/svg/close-hover.svg);
      }
    }
  }
}
//promo-product-short
.promo-product-short {
  background: #f7f7fb;
  padding: 26px 0 26px;
}
.promo-product-short-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: space-between;
  align-items: start;
  text-align: center;
}
.promo-product-short-item-img {
  img,
  svg {
    width: 56px;
    height: 56px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
}
.promo-product-short-item-title {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  margin-top: 15px;
}
.promo-product-short-item {
  display: block;
}
@import "_media-promo-product.scss";
//quiz
.quiz {
  padding: 92px 0 100px;
  background: #fff;
  .title {
    margin-bottom: 32px;
  }
  .subtitle {
    margin-bottom: 32px;
  }
  .quiz-inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 30px;
    justify-content: space-between;
    &.mod {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .web-check {
    & + .web-check {
      margin-top: 24px;
    }
  }
  .subtitle {
    span {
      display: block;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #212121;
      text-transform: none;
      margin-top: 7px;
    }
  }
}
.quiz-contol {
  margin-top: 42px;
}
.quiz-contol-btns {
  display: flex;
  gap: 15px;
  .btn {
    height: 48px;
  }
}
.quiz-contol-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #212121;
  margin-bottom: 25px;
}
.quiz-contol-next {
  max-width: 162px;
  width: 100%;
}
.quiz-contol-hide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  gap: 4px;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  background: #fff;
  border: 1px solid #0e0e9c;
  svg {
    width: 24px;
    height: 24px;
  }
  &:hover {
    background: #0e0e9c;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    svg path {
      fill: #fff;
    }
  }
  svg path {
    fill: #333;
  }
}
.title-mob {
  display: none;
}
.quiz-box-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 28px;
  min-height: 48px;
}
.radio-box-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 13px;
}
.radio-box {
  & + .radio-box {
    margin-top: 24px;
  }
  label {
    position: relative;
    padding-left: 30px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    & + label {
      margin-top: 15px;
    }
  }
  .radio-input {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 33px;
  }
  .radio-style {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #e0e0e0;
    margin-left: -33px;
    background: #fff;
    border-radius: 50%;
  }
  .radio-input:checked + .radio-style::before {
    content: "";
    width: 6px;
    height: 6px;
    background: #0e0e9c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}
.power-calculation {
  margin-top: 24px;
  input {
    border: none;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    max-width: 65px;
  }
}
.power-calculation-indicator {
  display: inline-block;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #212121;
  margin-left: 8px;
}
.power-calculation-description {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-top: 6px;
  color: #818491;
}
.quiz-links {
  margin-bottom: 40px;
  a {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
    svg path {
      fill: #333;
    }
  }
}
.quiz-documents {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.quiz-document {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 17px;
}
.quiz-documents-info-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #333333;
}
.quiz-documents-info-discr {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #818491;
  span + span {
    margin-left: 16px;
  }
}
@import "_media-quiz.scss";

//danger
.danger {
  background: linear-gradient(0deg, #f7f7fb, #f7f7fb), #c2c2d7;
  padding: 92px 0 100px;
  .title {
    margin-bottom: 55px;
  }
}

.danger-item {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  &:hover {
    .danger-item-info {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      max-width: 100%;
    }
    .subtitle svg {
      width: 24px;
      height: 24px;
      opacity: 1;
      position: relative;
      top: 4px;
    }
    .subtitle.mod svg {
      width: 24px;
      height: 24px;
      opacity: 1;
      position: relative;
      top: 5.5px;
    }
    .danger-item-info-desc {
      position: static;
      height: auto;
      width: auto;
      opacity: 1;
      margin-top: 8px;
    }
  }
}
.danger-item-info {
  position: absolute;
  bottom: 15px;
  left: 0;
  background: rgba($color: #fff, $alpha: 0.95);
  padding: 4px 14px;
  transition: all 0.3s linear;
  .subtitle {
    svg {
      opacity: 0;
      height: 0;
      position: absolute;
      width: 0;
    }
  }
}
.danger-item-info-desc {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  clip: rect(0 0 0 0);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  transition: all 0.3s linear;
}
.danger-item-img {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}
.danger-items-container {
  .swiper-pagination {
    display: none;
  }
}
@import "_media-danger.scss";
//question
.question {
  background: #0e0e9c;
  padding: 24px 0;
}
.question-inner {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}
.question-info {
  display: grid;
  grid-template-columns: 56px 1fr;
  gap: 27px;
}
.question-info-img {
  width: 56px;
  height: 56px;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.question-info-text-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;

  color: #ffffff;
  span {
    font-weight: 300;
    display: block;
    margin-top: 12px;
  }
}
.question-btn {
  @include no-button;
  padding: 12px 30px;
  background: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  line-height: 28px;
  text-transform: uppercase;
  color: #333333;
}
@import "_media-question.scss";
//service
.service {
  background: #fff;
  padding: 108px 0 100px;
  .danger-item-info {
    padding: 12px 15px;
  }
  .title {
    margin-bottom: 24px;
  }
}
.service-info-desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 24px;
}
@import "_media-service.scss";
//about-short
.about-short {
  padding: 118px 0 120px;
}
.about-short-titles {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.about-short-titles-link {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  display: flex;
  align-items: center;
  &:hover {
    color: #3c3cae;
    svg path {
      fill: #3c3cae;
    }
  }
  svg,
  img {
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
}
.about-short-info {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 60px;
}
.about-short-titles {
  margin-bottom: 45px;
}
.about-short-info-items {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  justify-content: space-between;
  gap: 20px;
}
.about-short-info-item-img {
  img,
  svg {
    display: block;
    margin: 0 auto;
    width: 56px;
    height: 56px;
    object-fit: cover;
  }
}
.about-short-info-item-title {
  margin: 24px 0 8px;
}
.about-short-info-item-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.about-short-info-item-info {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}
.about-short-info-img {
  max-height: 406px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}
@import "_media-about-short.scss";
//data-clientele
.data-clientele-map {
  position: relative;
}
.data-clientele-map-control {
  position: absolute;
  background: red;
  right: 0;
  top: 0;
  z-index: 1;
  width: 60px;
  height: 100%;
}
.data-clientele-map-info {
  position: absolute;
  top: 102px;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px 30px;
  max-width: 350px;
  min-height: 340px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .title {
    margin-bottom: 8px;
  }
  .about-short-titles-link {
    margin-bottom: 24px;
  }
  .btn {
    margin-top: 25px;
    text-align: center;
    padding: 12px 15px;
  }
}
.data-clientele-map-info-desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  font-family: "Roboto", sans-serif;
}
.data-clientele-map-inner {
  height: 540px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@import "_media-data-clientele.scss";
//

//
.footer-connection {
  padding: 65px 0;
  background: #0d0d48;
  .btn.mod-wh {
    max-width: 245px;
    width: 100%;
  }
  .header-logo-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .header-top-tel-number {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .header-top-tel-number:first-child::before {
    background-image: url(../img/svg/phone-ip-mod.svg);
  }
}
.web-page-link {
  display: flex;
  gap: 14px;
  align-items: start;
}
.web-page-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  &.mod {
    &:hover {
      span {
        border-color: transparent;
      }
    }
    span {
      border-bottom: 1px dashed #fff;
    }
  }
}
.footer-connection-box-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-connection-inner {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  align-items: start;
  gap: 142px;
}
.footer-connection-box {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: start;
  gap: 145px;
}
.footer-bottom {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0d0d48;
  padding: 12px 0;
}
.footer-bottom-inner {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 250px;
}
.footer-bottom-box {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
.footer-bottom-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #818491;
}
@import "_media-footer.scss";
//

//modal
.fancybox-bg {
  background: linear-gradient(0deg, rgba(14, 14, 156, 0.2), rgba(14, 14, 156, 0.2)), rgba($color: #000000, $alpha: 0.6);
}
.modal {
  max-width: 410px;
  padding: 56px 60px;
  background: #ffffff;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  min-height: 170px;
  .modal-title-inpust {
    margin: 28px 0 40px;
  }
  .btn {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .web-check a {
    display: contents;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #0e0e9c;
  }

  .fancybox-button {
    opacity: 1;
    width: 70px;
    height: 70px;
    svg {
      width: 24px;
      height: 24px;
      path {
        fill: #818491;
      }
    }
    &:hover {
      path {
        fill: #0e0e9c;
      }
    }
  }
}
.modal-titles-box {
  text-align: center;
}
.modal-title-descr {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
  font-weight: 400;
}

@import "_media-modal.scss";
//.info-text
.breadcrumbs {
  padding-top: 26px;
  margin-bottom: 56px;
}
.breadcrumbs-inner {
}
.breadcrumbs-list-item {
  a {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #818491;
    span {
      color: #818491;
      font-weight: 300;
      font-size: 10px;
      position: relative;
      top: -1px;
      margin: 0 10px;
    }
  }
  span {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0c0c85;
  }
}
.breadcrumbs-title {
  margin: 0;
  margin-top: 16px;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #212121;
}
.page-inner {
  .about-short-info-item-info {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
  }
  .about-short-info-items {
    margin: 35px 0;
  }
}
.info-text {

  p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0;
    color: #333333;
    i{
      font-style: italic;
      color: #818490;
    }
    b {
      font-weight: 700;
    }
    a {
      color: #0c0c85;
      text-decoration: underline;
    }
  }
  ul {
    display: block;
    margin: 22px 0;
    padding: 0;
  }
  li {
    position: relative;
    color: #333;
    display: block;
    padding-left: 29px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    font-family: "Roboto", sans-serif;
    & + li {
      margin-top: 8px;
    }
  }
  h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: #333333;
    margin: 64px 0 34px;
  }
  h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #333333;
    margin: 64px 0 32px;
  }
  h3 {
    margin: 48px 0 24px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #333333;
  }
  h4 {
    margin: 48px 0 16px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #333333;
    & ~ p {
      margin-top: 0;
    }
  }

  blockquote {
    display: block;
    padding: 26px 30px 23px 93px;
    margin: 48px 0 48px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    background: url(../img/svg/quote.svg) 32px 26px/34px 34px no-repeat #fff;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 2px;
      background: #0e0e9c;
    }
    p {
      margin: 0;
    }
    h4 {
      margin: 0;
      margin-top: 8px;
    }
  }
}
.responsive-table {
  max-width: 100%;
  overflow-x: auto;
  margin-top: 42px;
  box-shadow: 0 0 0 2px #eee;
}
.responsive-table table {
  width: 100%;
  border-collapse: collapse;
}
.responsive-table tr:nth-child(2n + 1) {
  background: #f7f7fb;
}
.responsive-table tr:nth-child(2n){
  background: #fff;
}
.responsive-table tr th {
  background: #0e0e9c;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-align: left;
  vertical-align: middle;
  padding: 12px 15px;
  text-transform: uppercase;
}
.responsive-table tr th:first-child {
  padding-left: 30px;
}
.responsive-table tr th:last-child {
  padding-right: 30px;
}
.responsive-table tr td {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  padding: 10px 15px;
}
.responsive-table tr td:first-child {
  padding-left: 30px;
}
.responsive-table tr td:last-child {
  padding-right: 30px;
}
.info-text ol li:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #0e0e9c;
}
.info-text ol li:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #0e0e9c;
}
.info-text ol,
.info-text ul {
  display: block;
  margin: 22px 0;
  padding: 0;
}
.info-text ol > li {
  counter-increment: step-counter;
}
.info-text ol > li::before {
  content: counter(step-counter) ".";
}
.box-right {
  float: right;
  margin: 0 0 30px 30px;
}
.box-left {
  float: left;
  margin: 0 30px 30px 0;
}
.box-right,
.box-left {
  max-width: calc(50% - 30px);
  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
  }
  span {
    margin: 0;
    margin-top: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #818491;
    display: block;
    b {
      font-weight: 700;
    }
  }
}
.text-navigation {
  padding: 14px 0;
  background: #ffffff;
  border-radius: 5px;
}
.text-navigation-menu {
  display: block;
}
.text-navigation-menu-item {
  display: block;
  &.active {
    a {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02)), #f7f7fb;
      font-weight: bold;
    }
  }
  a {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    padding: 14px 15px;
  }
  &:hover {
    a {
      font-weight: bold;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02)), #f7f7fb;
    }
  }
}
.info-text *:first-child {
  margin-top: 0;
}
.info-text ul li::before {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  left: 0;
  width: 6px;
  height: 6px;
  background: #0e0e9c;
  border-radius: 50%;
}
@import "_media-info-text.scss";
